
@{
    @*@model LISFYPlatinumInvRegistration.Models.accountledgercs*@
    Layout = "~/Views/Shared/_account.cshtml";
}
<div class="modal" id="CreateuserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" style="z-index: 1400;display:none">
    <div class="modal-dialog modal-popup" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeuser">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-bg-div create-user-div">
                    <div class="row justify-content-end">
                        <div class="col-lg-8 col-md-8 col-sm-9">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="field-item">
                                        <label for="">User Name</label>
                                        <input type="text" id="txtusername" class="fcs">
                                        <input type="text" id="txtusernameid" style="display:none">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="field-item">
                                        <label for="">Password</label>
                                        <input type="password" id="txtpwd" class="fcs">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="field-item">
                                        <label for="">Confirm Password</label>
                                        <input type="password" id="contxtpwd" class="fcs">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="field-item">
                                        <label for="">User Group</label>
                                        <select name="" id="usergrp" class="fcs">
                                            <option>Staff</option>
                                            <option>Supervisor</option>
                                            <option>Administrator</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="field-item">
                                        <label for="">Employee</label>
                                        <input type="text" id="empname" style="width:280px" onkeyup="if (event.keyCode == 27) this.value = ''" class="fcs" readonly>
                                        <input type="text" id="empnameid" style="display:none">
                                        <button class="searchbtn" style="position:absolute; right:40px" name="userempsrch" id="userempsrch" data-toggle="modal" data-target="#searchemployeestaff" data-backdrop="static" data-keyboard="false" type="button">
                                            <i class="fas fa-search"></i>
                                        </button>
                                        @*<button class="searchbtn" style="position:absolute; right:40px" id="userempsrch" data-toggle="modal" data-target="#searchemployeestaff" *@ @*data-backdrop="static" data-keyboard="false" *@ @*><i class="fas fa-search"></i></button>*@
                                        @*<a data-toggle="modal" href="#employeeModal" class="btn btn-primary"></a>*@
                                        <button data-toggle="modal" data-target="#employeeModal" data-backdrop="static" data-keyboard="false" type="button" style="position:absolute; left:400px;height:27px;background:#428bca;border-color:#428bca" id="employeeshow"><i class="fas fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-3 col-8">
                           

                            <div class="signature-field" style="height:100px;width:110px">
                                <img src="" id="img" style="height:130px;width:110px">
                            </div>
                            <div>
                                <input type="file" id="files" name="Filepic" style="visibility:hidden;" accept="image/png, image/svg, image/jpeg" @*onchange="ShowPreview(this)*@ />
                                <button class="submit-btn doc-btn" @*style="display:none;"*@ onclick="document.getElementById('files').click()" id="uploadimg">Upload Signature</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="bleu-btn" id="createusernew"><i class="fas fa-plus"></i> New</button>
                <button class="bleu-btn" id="createuserexit"><i class="fas fa-times"></i> Exit</button>
                <button class="submit-btn" id="createusersave"><i class="fas fa-save"></i> Save</button>
            </div>
        </div>

    </div>
</div>

